.pixel {
    --pw: 1px;
    --ph: 1px;
    --pc: black;
    --pixel-gather-animation: "";
    --pixel-reveal-animation: "";
    --pixel-gather-delay: 0.7s;
    --pxgs: 1000ms;
    --pixel-reveal-delay: 0.7s;
    --psl: 0px;
    --pst: 0px;
    --pxtl: 0px;
    --pxtt: 0px;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    color: var( --pc);
    background-color: currentColor;
    width: var(--pw);
    height: var(--ph);
    animation: var(--pixel-gather-animation), var(--pixel-reveal-animation);
    will-change: transform;
}

    .pixel.px-nm {
        pointer-events: none;
    }

    .pixel.px-grid {
        --pw: 100%;
        --ph: 100%;
    }

    .pixel.px-abs {
        transform: translate( var(--psl), var(--pst) );
        position: absolute;
    }

    .pixel.px-g {
        transform: translate( var(--pxtl), var(--pxtt) );
        --pixel-gather-animation: gather var(--pxgs) ease var(--pixel-gather-delay) backwards;
    }

    .pixel.px-r {
        --pixel-reveal-animation: reveal var(--pixel-reveal-delay) linear forwards;
    }

@keyframes gather {
    0% {
        transform: translate( var(--psl), var(--pst) );
    }

    100% {
        transform: translate( var(--pxtl), var(--pxtt) );
    }
}

@keyframes reveal {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
