@page "/"
<h1>Pixel Demos</h1>

<article>
    <header>
        <h4><a href="/p1">Pixellated CSharpBot</a></h4>
    </header>
    <details>
        Loads a CSharpBot from disk on the server and renders it in a CSS Grid, which can be scaled by simply increasing the grid cell size.
    </details>
</article>

<article>
    <header>
        <h4><a href="/p2">Pixel Cascade</a></h4>
    </header>
    <details>
        Loads of Pixels™ cascading majestically to the bottom of the screen. All movement is handled server side by positioning the Pixels™ individually.
    </details>
</article>

<article>
    <header>
        <h4><a href="/p4">Pixel Image Loader</a></h4>
    </header>
    <details>
        Choose a file to upload (less than about 27KB in size or it will crash) and it will be Pixellated, randomised and then will resolve into the image. The animation of the Pixels™ all happens in the Browser using one CSS animation.
    </details>
</article>

