.pixel4 {
    margin: 0;
    padding: 0;
    background-color: currentColor;
    left: 0px;
    top: 0px;
    --pos-speed: 5000ms;
    animation: falling var(--pos-speed,1s) ease-in-out 1s forwards,
        reveal 1s linear;
}

@keyframes falling {
    100% {
        transform: translate(var(--pos-left),var(--pos-top));
    }
}

@keyframes reveal {
    0% { opacity:0;}
    100% { opacity:1;}
}