<h1>Pixel™ Demos</h1>

<article>
    <header>
        <h4><a href="/p2">Pixel™ Cascade</a></h4>
    </header>
    <details>
        Loads of Pixels™ cascading majestically to the bottom of the screen. All movement is handled in C# by positioning the Pixels™ individually.
    </details>
</article>

<article>
    <header>
        <h4><a href="/p4">Pixel™ CSS Cascade</a></h4>
    </header>
    <details>
        Loads of Pixels™ cascading majestically to the bottom of the screen. All movement is handled by CSS animation on the client.
    </details>
</article>

<article>
    <header>
        <h4><a href="/p3">Pixel™ Image Loader</a></h4>
    </header>
    <details>
        Choose a file to upload and it will be Pixel™lated, randomised and then will resolve into the image. The animation of the Pixels™ all happens in the Browser using one CSS animation.
    </details>
</article>

